<p>By default, the contents of <code>cms-less-content/index.html</code> are loaded for the landing page.</p>
<p>Try out some of the CmsLess features: 
  <ul>
    <li><b>Progressive Enhancement:</b> Disable JavaScript in your browser and reload the page - notice that the content is still rendered thanks 
      to the <code>.htaccess</code> and PHP back-end.</li>
    <li><b>Optional Eager-loading:</b> Open up the network tab of your browser developer tools and refresh the page - notice that in this demo 
      eager-loading is enabled. (JavaScript required.)</li>
  </ul>
</p>
<p>Note that the log messages in the JavaScript console aren't part of CmsLess, they're coming from demo event handlers on the index page</p>
